---
import { experience } from "../../constants/experience"
import { ExternalLinkIcon } from "../icons/contact"
import Badge from "./Badge.astro"
---

<section>
  {
    experience.map((job) => {
      const { company, period, title, technologies, exp, location, modality, link } = job
      return (
        <article class="border-l pb-12 border-line2 pl-8 relative">
          <div class="absolute left-0 top-1.5 -translate-x-1/2 w-2.5 h-2.5 rounded-full bg-lime ring-4 ring-base"></div>
          <h3 class="flex flex-col sm:flex-row items-baseline justify-between mb-1 text-xl font-medium">
            {title}
            <span class="mt- text-xs text-faint tracking-wider font-medium font-mono">{period}</span>
          </h3>
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-1.5 text-sm text-lime hover:opacity-75 transition-opacity font-medium"
          >
            {company} <ExternalLinkIcon class:list={"size-3.5"} />
          </a>
          <span class="text-sm text-muted font-light">
            {location && <span>&bull; {location}</span>}
            {modality && <span>&bull; {modality}</span>}
          </span>
          <ul class="mt-4 marker:text-lime text-muted font-mono tracking-wide text-pretty text-sm list-disc pl-4">
            {
              exp?.map((item) => (
                <li class="mb-2">{item}</li>
              ))
            }
          </ul>
          <section class="flex flex-wrap gap-2 mt-4">
            {
              technologies?.map((tech) => (
                <Badge size="md" label={tech} />
              ))
            }
          </section>
        </article>
      )
    })
  }
</section>
